// 字体
$fontFamily: PingFangSC-Regular, Source Han Sans CN, Microsoft Yahei, sans-serif;

// 字体颜色
$fontColor-black: #404040;
$fontColor-red: #ff2740;
$fontColor-grey: #666666;
$fontColor-white: white;

// 字体大小
$fontSize-xxl: 20pt;
$fontSize-xl: 13pt;
$fontSize-lg: 12pt;
$fontSize-md: 11pt;
$fontSize-sm: 10pt;
$fontSize-xs: 9pt;
$fontSize-xxs: 8pt;

// 背景色
$BGColor-screen: #F2F2F2;
$BGColor-white: white;
$BGColor-pink: #ffebf1;
$BGColor-red: #e02e24;
$BGColor-grey: #E3E3E3;

// 间隙
$margin-size-xxl: 30pt;
$margin-size-xl: 20pt;
$margin-size-lg: 11pt;
$margin-size-md: 8pt;
$margin-size-sm: 3pt;