// 主题色
$primary-color: #1890ff;
// 主题色透明度
$primary-color-light: #e6f7ff;
// 背景色
$primary-bgcolor: #f0f2f4;

// 容器背景色
$box-bgcolor: #ffffff;
// 边框线
$border-color: #e8e8e8;
// 灰色
$gray: #d9d9d9;

// 强调色
$strong-color: red;
// 边框阴影
$box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
// 文字背景
$text-bgcolor: #e6f7ff;
// 浅色字体颜色
$light-textColor: rgba(0, 0, 0, 0.65);
// 侧边栏宽度
$menuBarWidth: 260px;

// 左侧菜单字体颜色
$menuColor: rgba(255, 255, 255, 0.6);
$menuBg: #ffffff;
$menuSelectedBg: #4190f7;
$menuSelectedColor: #ffffff;
